# Python
__pycache__/
*.py[cod]

# Environments
myenv/
venv/
.env
*.env
agent/.env
agent/.env
# Logs
*.log

# Temporary Jenkins logs
tmp/
tmp/Jenkins_raw_logs/

# Reference artifacts
.ref/
.ref/**

# Generated images
workflow_graph.png